* {
    box-sizing: border-box;
}


/*Header style*/
#head{
    display: flex;
    flex-direction:row ;
    justify-content: space-between; 
    padding: 20px 50px;
}

#head p {
    color: red;
    margin: 5px 0 20px;
    font-size: 1.5rem;   
    font-weight: bold;   
}

/*main page style*/
.main-page{
    text-align: center;
    padding: 40px 50px;
}
    
.main-page p{
    font-size: 18px;
    color: purple;
    font-weight: bold;    
}

/*style for button*/
.btn{
outline: none;
border: none;
display: inline-block;
padding: 10px 10px;
background: purple;
font-size: 1.1rem;
border-radius: 12px;
position: relative;
top: -3px;
box-shadow: 0 3px gray;
margin-top: 20px;
cursor: pointer;
color: beige;
}

.btn:hover{
    background-color: red ;
}

/*style for questions section*/
.questions{
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 340px;
}

.questions p{
    font-size: 30px;
    color: purple;
    font-weight: bold; 
    width: 70%;
    color: black;
}

.btn1{
    outline: none;
    border: none;
    width: 25%;
    padding: 10px 15px;
    background: purple;
    font-size: 1.1rem;
    border-radius: 12px;
    top: -3px;
    box-shadow: 0 3px gray;
    cursor: pointer;
    text-align: left;
    color: beige;
}

.btn1:hover{
    background-color: red ;
}

/*style for result section*/
.border{
    padding: 10px;
    border-top:2px solid rgb(171, 171, 206);
    width: 70%;
}

.result{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 340px;
}

#result p{
    font-size: 30px;
    color: rgb(171, 171, 206); 
    width: 70%;
}

.btn1{
    outline: none;
    border: none;
    width: 25%;
    padding: 10px 15px;
    background: purple;
    font-size: 1.1rem;
    border-radius: 12px;
    top: -3px;
    box-shadow: 0 3px gray;
    margin-top: 20px;
    cursor: pointer;
    text-align: left;
}

/*style for submit form*/
#submit-form{
        margin-left: 340px;
        font-size: 25px;
        font-weight: bold; 
}

#initial{
    border: 1.5px solid purple;
    padding: 7px 15px;
}


.load-scores{
    padding: 100px 55px;
    margin-left: 340px;
}

.high{
    padding-left: 22px;
}

/*style for view score section*/
.list-item{
    font-size: 18px;
    width: 45%;
}

#listitems{
    background-color:  rgb(234, 234, 240);
    margin-bottom: 4px;
}

.hscores-gobtn{
    width : 15%;
    margin :5px 22px;
}

.hscores-clbtn{
    width : 25%;
    margin :5px 16px;
}

#viewscore{
    cursor: pointer;
}